[Unit]
Description=uWSGI instance to serve Flask app
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/howe/ubuntu/NetflixMovieCatalog
ExecStart=/home/ubuntu/NetflixMovieCatalog/venv/bin/uwsgi --ini uwsgi.ini
Restart=always

[Install]
WantedBy=multi-user.target
